/*BAR*/
#chooply_bar{
	/*size and position*/
	position: fixed;
	top: 0px;
	left: 0px;
	
	line-height: 30px;
	height: 30px;
	width: 100%;
	z-index: 15000;
	margin: 0;
	padding: 0;
	
	/*text*/
	color:#444444;
  	font-family: Calibri, Arial, sans-serif;
  	font: normal;
	font-size: 14px;

	border: none;
	border-bottom: 2px solid #3B5DFF;	/*bottom border in blue*/
	background-color: #FFFFFF;

	/*round corner*/
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	
	/*gradiant of the bar*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}



/*UL of keywords*/
#chooply_bar #chooply_keywords{
	margin: 6px 0 4px 10px;
	padding: 0;
	
	float: left;
	overflow: hidden;
	
	max-height: auto;
	max-width: 80%; 	
}


/*keywords li*/
#chooply_bar #chooply_keywords li{	
	/*text*/
   	text-align: left;

 	/*size and position*/
 	margin: 0 0px 10px 10px;
	padding: 0px;	

	/*horizontal list*/
	display: inline;
	list-style-type: none;
	position: relative;
   	display: inline-block;
}


#chooply_bar #chooply_keywords span{
	/*text*/
	color:#F2F2F2;

	/*position*/
	display: block;
	float: left;
	padding: 2px 10px;
	margin: 0;
	line-height: 15px;
	
	/*look*/
	background-color: #009AD5;
	-webkit-box-shadow:0 0 1px #fff inset;
    	box-shadow:0 0 1px #fff inset;
    	border-radius:6px;
}




/*more link*/
#chooply_bar #chooply_more{
	position: absolute;
	left : 80%;
	top: 5px;
	padding: 0px;
	margin: 0 0 0 20px;
	height: 20px;
	line-height: 20px;
	
	cursor: pointer;
	display: none;
}



/*expand more keywords*/
.chooply_expand{
	/*round corner*/
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	
	/*gradiant of the bar*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	
	/*border in blue*/
	border: none;
	border-bottom: 2px solid #3B5DFF;	
	border-left: 1px solid #3B5DFF;
	border-right: 1px solid #3B5DFF;	
}



/*facebook*/
#chooply_bar #chooply_share{
	position: absolute;
	right : 20px;
	top: 5px;
	padding: 0px;
	margin: 0;
	height: 20px;
	line-height: 20px;
}

#chooply_bar a, #chooply_bar a:hover, #chooply_bar a:link, #chooply_bar a:visited{
	text-decoration: none;
	font-weight: bold;
	color: #444444;
}

