#chooply_bar{
	position: fixed;
	top: 0px;
	height: auto;
	width: 100%;
	border: 1px solid red;
	background-color: grey;
	font-size: 14px;
	z-index: 5000;
	margin: 0;
	padding: 0;
}

#chooply_bar #chooply_keywords li{
	margin: 0;
	padding: 0;
}

#chooply_bar #chooply_keywords li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}